
#navbar {
    overflow: hidden;
    background-color: #333;
  }
  

  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  

  .content {
    padding: 16px;
  }
  
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
 
  .sticky + .content {
    padding-top: 60px;
  }

#Amimo .hero {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}
#Amimo h1 {
	display: block;
	width: fit-content;
	font-size: 4rem;
	position: relative;
	color: transparent;
	animation: text_reveal .5s ease forwards;
	animation-delay: 1s;